/* Base Styles */
:root {
    --primary-color: #725b36;
    --secondary-color: #1e1e1e;
    --bg-color: #f9f9f9;
    --text-color: #333;
    --heading-color: rgb(121, 76, 14);
    --font-primary: 'Helvetica Neue', sans-serif;
    --font-size-base: 1rem;
    --border-radius: 8px;
    --transition-speed: 0.3s;
    --hover-colour: #ad8d59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 40px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--heading-color);
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: #f1f1f1;
}

.input-group i {
    margin-right: 10px;
    color: var(--text-color);
}

input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: var(--font-size-base);
    color: var(--text-color);
}

button {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-base);
    text-decoration: none;
    transition: background-color var(--transition-speed);
}

button:hover {
    background-color: var(--hover-colour);
}

button a {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-speed) ease;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

p a {
    color: blue;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

#error-message {
    color: red;
    display: none;
    margin-top: 10px;
    font-size: 14px;
}