/* Base Styles */
:root {
    --primary-color: #725b36;
    --secondary-color: #1e1e1e;
    --bg-color: #f9f9f9;
    --text-color: #333;
    --heading-color: rgb(121, 76, 14);
    --font-primary: 'Helvetica Neue', sans-serif;
    --font-size-base: 1rem;
    --border-radius: 8px;
    --transition-speed: 0.3s;
    --hover-colour: #ad8d59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Header Styles */
header {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    letter-spacing: 2px;
    font-weight: bolder;
}

.logo img {
    height: 40px; 
    width: 140px; 
    display: block; 
  }

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
    color: #000;
    position: relative; 
}

nav a::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 2px;
    background-color: #ff4081; 
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease; 
}

nav a.active::after, 
nav a:hover::after {
    width: 100%;
}


#sign-up-btn {
    background: white;
    color: rgb(4, 4, 4);
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
}

.circle-btn {
    position: fixed;
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    background: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease; 
    border: none; 
    text-decoration: none; 
    margin-top: 30px;
    margin-left: 30px;
  }

  .circle-btn i {
    font-size: 20px; 
    color: #000; 
  }

  .circle-btn:hover {
    background: #f0f0f0; 
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
}

.grid-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.grid-item img:hover {
    transform: scale(1.05); 
}

/* Footer Section */
footer {
    padding: 30px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
}

footer p {
    margin-bottom: 15px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

footer .social-media a:hover {
    color: var(--primary-color);
}

/*burger bar*/
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ nav {
    left: 0;
    opacity: 1;
}

@media (min-width: 600px) and (max-width: 1024px) {
    header {
        padding: 15px 5%;
    }

    nav a {
        margin: 0 10px;
        font-size: 1rem;
    }

    #sign-up-btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 10px 30px;
        margin: 0 auto;
    }

    footer {
        padding: 20px;
    }

    footer p {
        font-size: 0.9rem;
    }

    footer .social-media a {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 5%;
    }

    nav a {
        margin: 10px 0;
        font-size: 1.2rem;
        text-align: center;
        display: block;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    header nav {
        position: absolute;
        left: -100%;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: #f3f3f3;
        padding: 20px;
        transition: all 0.3s ease;
        opacity: 0;
    }

    header nav a {
        padding: 10px 0;
        font-size: 1.2rem;
    }

    header nav a:hover {
        background-color: #dadada6a;
    }

    .grid-container {
        grid-template-columns: 1fr;
        padding: 10px;
        margin: 0 auto;
    }

    .grid-item {
        margin-bottom: 15px;
    }

    footer {
        padding: 20px;
    }

    footer p {
        font-size: 0.8rem;
    }

    footer .social-media a {
        font-size: 1rem;
    }

    /* Search Bar */
    .search-bar input {
        width: 70%;
        font-size: 1rem;
    }

    .search-bar button {
        width: 30%;
        font-size: 0.9rem;
    }
}
